#TB_ajaxContent {
	width: auto !important;
	height: auto !important; 
}
#TB_window { z-index: 999999999 !important; min-height: 90vh; top: 5vh !important; margin-top: 0 !important;  }
#TB_overlay { z-index: 999999998 !important; }

tr.option { 
	display: none;
}