/******************************************************************

Stylesheet: Top Bar

Inti Foundation includes a F6 .top-bar to which ul.menu's are added
wrapped in F6 classes that determine if they are floated.

By default, this top bar, as a well as all the visible page is placed
within a F6 off-canvas's .off-canvas-content wrapper, outside of
which an off canvas menu is found.

On smaller screens the top bar shows a button that triggers the
off canvas menu, and hides the main navigation menu

******************************************************************/

.top-bar {

	

		.main-dropdown-menu > ul { float: left; }

		ul {}

		.top-bar-left {}
		.top-bar-right {}

		.mobile-banner {

		}


		ul.menu {
			a { color: $white; }
		}
		ul.dropdown.menu {
			li {

				&.current-menu-item { font-weight: bold; }
				&.current-menu-parent > a { font-weight: bold; }
			}
			ul { display: none; } // Loads with display: none to prevent submenu flashes.
			ul.js-dropdown-active { display: block; }

			ul.submenu {}

			& .is-dropdown-submenu-parent.is-down-arrow {
				> a::after { border-color: $white transparent transparent; }
			}
			& .is-dropdown-submenu-parent.is-right-arrow {
				a::after { border-color: transparent transparent transparent $white; }
			}
		}
		.site-logo {
			padding: 0;
		}
		.site-title {
			color: $white;
		}

}

.top-bar .off-canvas-button {
	.hamburger {
		width: 1.5rem; height: 0.875rem;
		position: relative;
		display: inline-block;
		transform: rotate(0);

			span {
				display: block;
				position: absolute;
				height: 2px;
				width: 100%;
				background-color: #fff;
				opacity: 1;
				left: 0;
				transform: rotate(0);
				transition: transform 125ms linear;
					&:nth-child(1) { top: 0; }
					&:nth-child(2) { top: 0.4375rem; }
					&:nth-child(3) { top: 0.875rem; }
			}

	}
}

.is-off-canvas-open .top-bar .off-canvas-button {
	.hamburger {
		span {

					&:nth-child(1) { top: 0.5rem; transform: rotate(135deg); }
					&:nth-child(2) { top: 0.4375rem; opacity: 0; }
					&:nth-child(3) { top: 0.5rem; transform: rotate(45deg); }
		}
	}
}
