/******************************************************************

Foundation for Sites by ZURB
foundation.zurb.com

Here we import the Foundation 6 Framework.

We include all components by default. Child themes may want to comment
out some of these mixins.

Inti Foundation uses standard float grids, not flex grids.

******************************************************************/

// Import local Foundation overrides
@import "settings";

// Import foundation.scss from vendor files
@import "../../../node_modules/foundation-sites/scss/foundation";

// Import Motion-UI from vendor files
@import "../../../node_modules/motion-ui/src/motion-ui";
@include motion-ui-transitions;
@include motion-ui-animations;

// Select the components you want to use
@include foundation-global-styles;

// @include foundation-prototype-classes;

@include foundation-flex-classes;
@include foundation-xy-grid-classes;

@include foundation-typography;
@include foundation-forms;
@include foundation-button;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;


/******************************************************************

Inti Foundation -  a WordPress theme built with ZURB's Foundation
inti.waqastudios.com
foundation.zurb.com

This is the main file for base styles for Inti, whether used as a
parent theme or a standalone theme. Styles can be overwritten with
new styles, or the minimized inti-min.css file can be unqueued
(see styles.php)

******************************************************************/

/**
 * We'll want to enqueue font-awesome separately in WP so that
 * plugins can detect it and not load another copy, but also so
 * we can have the file to include in the Dashboard side... so we
 * use it in WP editor, in shortcodes, etc.
 * @see /framework/extensions/styles.php, /framework/shortcodes/tinymce-functions.php
 */
// @import "../../../node_modules/font-awesome/scss/font-awesome";

/**
 * We might want to enqueue slick-slider in WP so that plugins
 * can detect it and not load another copy. Uncomment this if you want to
 * use it here, remove enqueue if so.
 * @see /framework/extensions/styles.php
 */
// @import "../../../node_modules/slick-carousel/slick/slick.scss";

// Import mixins
@import "mixins";

// Import components
@import "inti-partials/wp-classes";
@import "inti-partials/formatting";
@import "inti-partials/site-header";
@import "inti-partials/navigation";
@import "inti-partials/breadcrumbs";
@import "inti-partials/layout";
@import "inti-partials/posts-pages";
@import "inti-partials/post-formats";
@import "inti-partials/archives";
@import "inti-partials/sidebars";
@import "inti-partials/shortcodes";
@import "inti-partials/comments";
@import "inti-partials/site-footer";

// Import slick slider for inti
@import "slick-inti-theme";

/* General Inti Styles - fix this */
body { }

body.admin-bar {
	padding-top: 32px;

	@include breakpoint(782px down) {
		& {
			padding-top: 46px !important;
		}
	}
}

* {  outline: 0; }

#page {
	.site-banner {}
	.site-content {

	}
}

// Customs

 .is-stuck {
 	background-color: #fff;
 }


// Top Bar

.top-bar {
	text-transform: uppercase;
	font-size: 12px;
}

.is-stuck .not-stuck {
	display: none;
}

ul.site-navigation li.current-menu-item > a {
    text-decoration: none;
}

ul.site-navigation li a:hover {
    text-decoration: none;
}

a.cart-contents {
	font-size: 16px;
}

// Slick Slider

.slick-prev:before, .slick-next:before { }

.slick-prev:before {
	font-family: "Font Awesome 5 Solid";   content: "\f007";
	color: #333;
}

.slick-next {
}

.slick-next:before {
	content: "\f060";
	font-family: "Font Awesome 5 Solid";
	color: #333;
}

// Preloader

.preloader-wrapper {
    height: 100%;
    width: 100%;
    background: #50D0D0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
}

.preloader-wrapper .preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 120px;
}

hr.style12 {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
    border: 0;
}

// .owl-carousel {
// 	margin: 0;
// }
//
// .owl-carousel .owl-nav [class*=owl-] {
// 	background: rgba(0, 0, 0, 0.5);
// 	color: rgba(255, 255, 255, 0.9);
// 	font-size: 11px;
// 	width: 30px;
// 	height: 30px;
// 	line-height: 30px;
// 	border-radius: 0;
// 	text-align: center;
// }
//
// .owl-carousel .owl-nav [class*=owl-]:hover {
// 	background: rgba(0, 0, 0, 0.9);
// 	color: #FFF;
// }


owl-theme .owl-nav {
    margin-top: 0px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    bottom: 50%;
}

$hero-height: 50vh;

.hero-section {
  //background: url('https://static.pexels.com/photos/248064/pexels-photo-248064.jpeg') 50% no-repeat;
  background-size: cover!important;
  height: $hero-height;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .hero-section-text {
    color: $white;
    text-shadow: 1px 1px 2px $black;
  }
}

$menu-underline-from-center-bg: #2C3840;
$menu-underline-from-center-border-thickness: 0.125rem;

.hover-underline-menu {

//  width: 100%;

  .menu {
  //  background-color: $menu-underline-from-center-bg;

    a {
      //color: $white;
      //padding: 1.2rem 1.5rem;
    }

    .underline-from-center {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: calc(100% - #{$menu-underline-from-center-border-thickness});
        border-bottom: $menu-underline-from-center-border-thickness solid $black;
        left: 50%;
        right: 50%;
        transition: all 0.5s ease;
      }

      &:hover::after {
        left: 0;
        right: 0;
        transition: all 0.5s ease;
      }
    }
  }
}


$menu-hover-lines-transition: all 0.35s ease;
$menu-hover-lines-border-width: 2.5px;

.menu-hover-lines {
//  text-align: center;
  transition: $menu-hover-lines-transition;

  li a {
//    padding: 0.75rem 0;
//    color: rgba($body-font-color, 0.5);
//    position: relative;
//    margin-left: 1rem;
  }

  li:first-child a {
//    margin-left: 0;
  }

  li.active > a {
  //  background-color: transparent;
  }


  a::after {
    height: $menu-hover-lines-border-width;
    position: absolute;
    content: '';
    transition: $menu-hover-lines-transition;
    background-color: $primary-color;
    width: 0;
  }

  a::after {
    bottom: 0;
    right: 0;
  }

  a:hover,
  li.active > a {
    color: $body-font-color;
    transition: $menu-hover-lines-transition;
  }


  a:hover::after,
  .active a::after {
    width: 100%;
  }
}

span.onsale {
	display: block;
	position: absolute;
	top: 10px;
}

ul.products {
	list-style-type: none;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {

    text-align: center;
}

span.onsale {
    display: block;
    position: absolute;
    top: 0;
    text-transform: uppercase;
    font-size: 11px;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    padding: 4px 8px 2px 8px;
		z-index: 1!important;
}

.site-top-bar-container { background-color: #fff!important; }
